h1, h2, h3, h4 {
	margin: 40px 0px 20px 0px;
}

.portfolio-piece-title {
	color: #16336B !important;
}

.portfolio-piece-link {
	color: #212529 !important;
	margin-bottom: 80px;
	width: 100%;
}

.portfolio-piece-link:hover {
	text-decoration: none;
	color: #212529 !important;
	background-color: #c6d2e952;
}


#navbarNav {
	justify-content: flex-end;
}

.navbar {
	padding-left: 20%;
	padding-right: 20%;
}

.navbar-brand  {
	color: #16336B !important;
}

/* #C6D2E9 */

#content-wrapper {
	padding: 40px 20% 40px 20%;
	margin-bottom: 40px;
}

#bio {
	margin: 40px 0px 80px 0px;
	text-align: center;
}

#portfolio-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.img-subtitle {
	font-size: 12px;
	font-style: italic;
	padding-top:5px;
}

.portfolio-piece-img {
	width: 100%;
	padding-bottom: 5px;
}

.portfolio-piece {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
	border-radius: 5px;
	box-shadow: 0 0 9px 0 #0000007a;
	text-align: center;
}

.portfolio-piece-tags {
	font-style: italic;
	font-size: 12px;
}

.content-img {
	width: 80%;
}
.img-wrapper {
	width: 100%;
	text-align: center;
}

.portfolio-title {
	text-align: center;
	padding-bottom: 20px;
}

.two-col {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.left-col {
	width: 48%;
	margin-right: 4%;
}

.right-col {
	width: 48%;
}

.img-col {
	width: 100%;
}

#inkhunter-left {
	width: 28%;
}
#inkhunter-right {
	width: 68%;
}

@media (max-width: 1024px) {
	.left-col {
		width: 100%;
	}
	.right-col {
		width: 100%;
	}
	.two-col {
		justify-content: center;
	}
	#inkhunter-left {
		width: 40%;
	}
	#inkhunter-right {
		padding-top: 10px;
		width: 100%;
	}
}


/***inkhunter****/
.subtitle {
	text-align: center
}

#inkhunter-sketches {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.inkhunter-sketch {
	width: 100px;
}
.modal-img {
	width: 100%;
}
.sketch-title {
	font-style: italic;
}
.sketch-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 150px;
	height: 230px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 9px 0 #0000007a;
	text-align: center;
	margin: 15px;
}

